body{
  text-align:center;
  font-family: open sans, sans-serif;
  background-color: #8A71C9;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

h1{
  font-size: 60px;
  font-weight: 300;
}

h2{
  color: #2A0074;
  font-size: 40px;
}

h3{
  font-size: 22px;
  font-style: italic;
}

p{
  font-size: 20px;
  line-height: 1,5;
}

img{
  width: 100%;
}

.titulo-verde{
  color: #04ff9f;
}

.titulo-vermelho{
  color:#FF9E9E
}

.titulo-amarelo{
  color:#ffe36d
}

section{
  width: 60%;
  margin: 0 auto;
}

section section{
  width: 100%;
}

ul{
  list-style-type: none;
  line-height: 2;
}

a{
  text-decoration: none;
  color:#99ffff;
  font-weight: 700;
}

.principal{
  background-color: #FF6CB5;
  height: 40px;
  max-width: 60%;
  margin: 0 auto;
}

.principal li{
  display: inline-block;
  line-height: 2.5;
  margin: 0 89px;
}

.principal a{
  color: #FFF;
  text-decoration: underline;
  font-weight: normal;
}

button{
  background-color: #41f341;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 2px 20px;
}